* {
  margin: 0;
  padding: 0;
}

/* 设置文字透明度为 */
.translucent-60 {
  opacity: 0.6;
}

// sidebar
@sidebar-background: #171a1d;
@sidebar-btn-background: #33383e;
@sidebar-btn-active: #23a559;

// guild
@guild-header-background: #3c45a5;
@guild-header-btn-hover: #5865F2;

// channel
@channel-background: #2b2d31;
@channel-item-active: #FFFFFF14;
@channel-item-hover: #FFFFFF0A;
@channel-head-hover: #FFFFFF0A;
@channel-font-color: #95a1b4;

// discovery-classify
@discovery-classify-background: #2b2d31;
@discovery-classify-font-color: #95a1b4;
@discovery-classify-hover: #FFFFFF0A;
@discovery-classify-active: #5865F2;

// user-panel
@user-panel-background: #232428;
@user-panel-btn-color: #caccce;
@user-panel-hover: #FFFFFF14;
//----

// grey
@grey-17: #171a1d;
@grey-23-50: #23242850;
@grey-31: #313338;
@grey-33: #33383e;
@grey-95: #95a1b4;
@grey-db: #DBDEE1;

// white
@white-alpha-0A: #FFFFFF0A;

// blue
@blue-level-color-34: #3498DB;




.channel-icon-default {
  color: @user-panel-btn-color;
  margin-right: 6px;
  font-size: 16px;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100%;
}

.h-screen-vh {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}